In [36]:
import cytools
import numpy as np
import pandas as pd

In [37]:
df = pd.read_pickle('data.p')

In [38]:
df.head().style